/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.typing::after {
  content: '|';
  animation: cursor 1s infinite ease-in-out;
  color: var(--ifm-color-primary);
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.heroTitle {
  font-weight: 200;
  font-size: clamp(1.7rem, 8vw, 5rem);
  text-align: center;
  color: var(--ifm-font-color-base);
  text-transform: uppercase;

  @media screen and (min-width: 1400px) {
    text-align: start;
    // font-size: clamp(2.4rem, 3.5vw, 5rem);
  }

  &--primary {
    color: var(--ifm-color-primary);
  }
}

.heroRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 1400px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.heroSubtitle {
  font-size: clamp(1.3rem, 4vw, 2rem);
  opacity: 0.7;
  max-width: 800px;
  margin: 0 auto 1rem;
  text-align: center;

  @media screen and (min-width: 1400px) {
    text-align: start;
    font-size: clamp(1.3rem, 2vw, 2rem);
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: var(--ifm-font-color-base);
  min-height: calc(100vh - 60px);

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
