@import 'tailwindcss';

:root {
  font-family: inherit, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(13, 15, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.fade-in {
  animation: fadeIn 150ms ease-in;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.fade-out {
  animation: fadeOut 150ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.scale-in {
  animation: scaleIn 150ms ease-in;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.scale-out {
  animation: scaleOut 150ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
