@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

.fade-in {
  animation: fadeIn 150ms ease-in;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.fade-out {
  animation: fadeOut 150ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.scale-in {
  animation: scaleIn 150ms ease-in;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.scale-out {
  animation: scaleOut 150ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.spinning {
  animation: spinning 1s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
:root {
  /* Select */
  --rd-bg-fill-color: white;
  --rd-text-color: black;
  --rd-border-radius: 8px;
  --rd-font-size: 1rem;

  --rd-text-color-select-base: black;
  --rd-bg-color-select-trigger-base: white;
}