.resizable {
  padding: 1rem;
//   height: 100px;
  width: 200px;
  border: 1px dashed var(--ifm-color-primary-bg);

  &--right {
    border-right: 1px dashed var(--ifm-color-primary);
  }

  &--left {
    border-left: 1px dashed var(--ifm-color-primary);
    margin-left: auto;
  }
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
