.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;

  // background-image: url('/img/wave-bg.svg');
  position: relative;
}

.featuresRow {
  display: grid;
  justify-content: center;
  justify-items: center;

  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1224px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--ifm-font-color-base);
  backdrop-filter: blur(16px);
  border-radius: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  width: 300px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.15s ease-in-out;
  box-shadow: var(--ifm-global-shadow-lw);
  // background-color: var(--ifm-card-background-color);

  &__header {
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-left: 0.7rem;
    padding-top: 0.7rem;
  }

  &__heading {
    margin: 0;
  }

  &__image {
    width: 80px;
    height: 60px;
  }

  &:hover {
    border: 1px solid var(--ifm-color-primary);
  }
}

.waves {
  position: absolute;
  // inset: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.04;
}

.featureSection {
  padding: 4rem 0;
  min-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featureSectionHeading {
  font-weight: 400;
  font-size: clamp(2.5rem, 8vw, 5rem);
  max-width: clamp(400px, 50vw, 800px);
  margin-bottom: 2rem;

  &--primary {
    color: var(--ifm-color-primary);
  }
}

.featureSectionDescription {
  font-size: clamp(1.3rem, 4vw, 1.6rem);
  max-width: clamp(400px, 50vw, 800px);
  margin-bottom: 2rem;
}
